[submodule "lib/SDL2-CS"]
    path = lib/SDL2-CS
    url = git@github.com:lukepaw//SDL2-CS.git
    branch = master
[submodule "lib/FAudio"]
    path = lib/FAudio
    url = git@github.com:lukepaw//FAudio.git
    branch = master
[submodule "lib/FNA3D"]
    path = lib/FNA3D
    url = git@github.com:lukepaw//FNA3D.git
    branch = master
[submodule "lib/Theorafile"]
    path = lib/Theorafile
    url = git@github.com:lukepaw//Theorafile.git
    branch = master
