<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="windows" target="lib\windows\SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="lib/osx/libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" target="lib/linux/libSDL2-2.0.so.0"/>

	<dllmap dll="FNA3D" os="windows" target="lib\windows\FNA3D.dll"/>
	<dllmap dll="FNA3D" os="osx" target="lib/osx/libFNA3D.0.dylib"/>
	<dllmap dll="FNA3D" os="linux,freebsd,netbsd" target="lib/linux/libFNA3D.so.0"/>

	<dllmap dll="FAudio" os="windows" target="lib\windows\FAudio.dll"/>
	<dllmap dll="FAudio" os="osx" target="lib/osx/libFAudio.0.dylib"/>
	<dllmap dll="FAudio" os="linux,freebsd,netbsd" target="lib/linux/libFAudio.so.0"/>
</configuration>
